USE [master]
GO
/****** Object:  Database [GradjevinskaFirmaDW]    Script Date: 10-Jan-18 16:04:01 ******/
CREATE DATABASE [GradjevinskaFirmaDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GradjevinskaFirmaDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GradjevinskaFirmaDW.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GradjevinskaFirmaDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GradjevinskaFirmaDW_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GradjevinskaFirmaDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GradjevinskaFirmaDW]
GO
/****** Object:  Table [dbo].[DimDatum]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE GradjevinskaFirmaDW
CREATE TABLE [dbo].[DimDatum](
	[DatumKey] nvarchar(10)  NOT NULL primary key,
	DatumAltKey datetime not null,
	[Godina] [int] NOT NULL,
	[Mjesec] [int] NOT NULL,
	[Dan] [int] NOT NULL
)


GO
/****** Object:  Table [dbo].[DimInvestitor]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimInvestitor](
	[InvestitorKey] [int] IDENTITY(1,1) NOT NULL,
	InvestitorAltKey int not null,
	[NazivFirme] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvestitorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimLokacija]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLokacija](
	[LokacijaKey] [int] IDENTITY(1,1) NOT NULL,
	LokacijaAltKey int not null,
	[Drzava] [nvarchar](50) NOT NULL,
	[Grad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LokacijaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimProjekat]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProjekat](
	[ProjekatKey] [int] IDENTITY(1,1) NOT NULL,
	ProjekatAltKey int not null,
	[Naziv] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjekatKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimSefProjekta]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSefProjekta](
	[SefProjektaKey] [int] IDENTITY(1,1) NOT NULL,
	SefProjektaAltKey int not null,
	[ImePrezime] nvarchar(60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SefProjektaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimTipUplate]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTipUplate](
	[TipUplateKey] [int] IDENTITY(1,1) NOT NULL,
	TipUplateAltKey int not null,
	[Vrsta] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipUplateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FaktZarada]    Script Date: 10-Jan-18 16:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use GradjevinskaFirmaDW
CREATE TABLE [dbo].[FaktZarada](
	[ZaradaKey] [int] IDENTITY(1,1) NOT NULL,
	[DatumKey] nvarchar(10) not NULL constraint fk_Fakt_vrijeme Foreign KEy(DatumKey) REFERENCES DimDatum(DatumKey),
	[InvestitorKey] [int] not NULL constraint fk_Fakt_investirot Foreign KEy(InvestitorKey) REFERENCES DimInvestitor(InvestitorKey),
	[LokacijaKey] [int] not NULL constraint fk_Fakt_lokacija Foreign KEy([LokacijaKey]) REFERENCES DimLokacija([LokacijaKey]),
	[ProjekatKey] [int] not NULL constraint fk_Fakt_Projekat Foreign KEy([ProjekatKey]) REFERENCES DimProjekat([ProjekatKey]),
	[SefProjektaKey] [int] not NULL constraint fk_Fakt_SefProjekta Foreign KEy([SefProjektaKey]) REFERENCES DimSefProjekta([SefProjektaKey]),
	[TipUplateKey] [int] not NULL constraint fk_Fakt_tipuplate Foreign KEy([TipUplateKey]) REFERENCES DimTipUplate([TipUplateKey]),
	[UkupnaZarada] decimal(18,2) not NULL,
PRIMARY KEY CLUSTERED 
(
	[ZaradaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DimDatum] ON 

INSERT [dbo].[DimDatum] ([DatumKey], [Godina], [Mjesec], [Dan]) VALUES (1, 2019, 1, 25)
INSERT [dbo].[DimDatum] ([DatumKey], [Godina], [Mjesec], [Dan]) VALUES (2, 2019, 10, 31)
INSERT [dbo].[DimDatum] ([DatumKey], [Godina], [Mjesec], [Dan]) VALUES (3, 2021, 1, 6)
GO
SET IDENTITY_INSERT [dbo].[DimDatum] OFF
SET IDENTITY_INSERT [dbo].[DimInvestitor] ON 

INSERT [dbo].[DimInvestitor] ([InvestitorKey], [NazivFirme]) VALUES (1, N'Vlada')
INSERT [dbo].[DimInvestitor] ([InvestitorKey], [NazivFirme]) VALUES (2, N'Visoko Gradnja')
INSERT [dbo].[DimInvestitor] ([InvestitorKey], [NazivFirme]) VALUES (3, N'xPort')
GO
SET IDENTITY_INSERT [dbo].[DimInvestitor] OFF
SET IDENTITY_INSERT [dbo].[DimLokacija] ON 

INSERT [dbo].[DimLokacija] ([LokacijaKey], [Drzava], [Grad]) VALUES (1, N'American Samoa', N'Arlington')
INSERT [dbo].[DimLokacija] ([LokacijaKey], [Drzava], [Grad]) VALUES (2, N'Yemen', N'Arlington')
INSERT [dbo].[DimLokacija] ([LokacijaKey], [Drzava], [Grad]) VALUES (3, N'Dominica', N'Baltimore')
SET IDENTITY_INSERT [dbo].[DimLokacija] OFF
SET IDENTITY_INSERT [dbo].[DimProjekat] ON 

INSERT [dbo].[DimProjekat] ([ProjekatKey], [Naziv]) VALUES (1, N'Vinci')
INSERT [dbo].[DimProjekat] ([ProjekatKey], [Naziv]) VALUES (2, N'Hochtief')
INSERT [dbo].[DimProjekat] ([ProjekatKey], [Naziv]) VALUES (3, N'Royal')
GO
SET IDENTITY_INSERT [dbo].[DimProjekat] OFF
SET IDENTITY_INSERT [dbo].[DimSefProjekta] ON 

INSERT [dbo].[DimSefProjekta] ([SefProjektaKey], [Ime], [Prezime]) VALUES (1039, N'Eileen ', N'Haley')
INSERT [dbo].[DimSefProjekta] ([SefProjektaKey], [Ime], [Prezime]) VALUES (1040, N'Tammie ', N'Jackson')
INSERT [dbo].[DimSefProjekta] ([SefProjektaKey], [Ime], [Prezime]) VALUES (1041, N'Valerie ', N'Russo')
GO
SET IDENTITY_INSERT [dbo].[DimSefProjekta] OFF
SET IDENTITY_INSERT [dbo].[DimTipUplate] ON 

INSERT [dbo].[DimTipUplate] ([TipUplateKey], [Vrsta]) VALUES (1, N'rate')
INSERT [dbo].[DimTipUplate] ([TipUplateKey], [Vrsta]) VALUES (2, N'avans')
INSERT [dbo].[DimTipUplate] ([TipUplateKey], [Vrsta]) VALUES (3, N'gotovina')
SET IDENTITY_INSERT [dbo].[DimTipUplate] OFF
ALTER TABLE [dbo].[FaktZarada]  WITH CHECK ADD FOREIGN KEY([DatumKey])
REFERENCES [dbo].[DimDatum] ([DatumKey])
GO
ALTER TABLE [dbo].[FaktZarada]  WITH CHECK ADD FOREIGN KEY([InvestitorKey])
REFERENCES [dbo].[DimInvestitor] ([InvestitorKey])
GO
ALTER TABLE [dbo].[FaktZarada]  WITH CHECK ADD FOREIGN KEY([LokacijaKey])
REFERENCES [dbo].[DimLokacija] ([LokacijaKey])
GO
ALTER TABLE [dbo].[FaktZarada]  WITH CHECK ADD FOREIGN KEY([ProjekatKey])
REFERENCES [dbo].[DimProjekat] ([ProjekatKey])
GO
ALTER TABLE [dbo].[FaktZarada]  WITH CHECK ADD FOREIGN KEY([SefProjektaKey])
REFERENCES [dbo].[DimSefProjekta] ([SefProjektaKey])
GO
ALTER TABLE [dbo].[FaktZarada]  WITH CHECK ADD FOREIGN KEY([TipUplateKey])
REFERENCES [dbo].[DimTipUplate] ([TipUplateKey])
GO
USE [master]
GO
